:root {
  /* COLOR */
  --white: #ffffff;
  --light-white: #dddddd;
  --red: #ff3737;
  --black: #333333;
  --dark-grey: #73675c;
  --grey: #888888;
  --light-grey: #bbbbbb;

  /* WEIGHT */
  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-weight-normal: 300;

  /* FONT-SIZE */
  --font-large: 24px;
  --font-medium-large: 16px;
  --font-medium: 15px;
  --font-small: 12px;
  --font-14: 14px;
  --font-10: 10px;

  /* SIZE */
  --page-size: 1080px;

  /* space */
  --base-space: 8px;
}

/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */
* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  cursor: default;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  margin: 0 var(--base-space) 0 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-regular);
  color: var(--grey);
  margin: calc(var(--base-space) / 2) 0 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--grey);
}

.section {
  width: var(--page-size);
  margin: auto;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

/* MENU */
#menu {
  font-size: var(--font-small);
  padding: calc(var(--base-space) * 2) 0;
  border-bottom: 1px solid var(--light-white);
}

#menu li::after {
  content: '';
  display: inline-block;
  height: 8px;
}

#menu li:not(:last-child)::after {
  border-right: 1px solid var(--light-grey);
  margin: 0 8px;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-grey);
}

.menu__left a {
  color: var(--light-grey);
}

#menu li.active a {
  color: var(--black);
}

.menu__right a {
  font-weight: var(--font-weight-regular);
  color: var(--grey);
}

/* Nav */
#nav {
  padding: 14px 0;
  border-bottom: 1px solid var(--light-white);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__left {
  display: flex;
  align-items: center;
  font-size: var(--font-14);
  width: 40%;
}

.navbar__hamburger {
  display: flex;
  align-items: center;
  font-size: var(--font-medium-large);
  color: var(--dark-grey);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.navbar__hamburger img {
  margin-right: 4px;
}

.navbar__hamburger::after {
  content: '';
  margin: 0 16px;
  display: inline-block;
  height: 10px;
  border-right: 1px solid var(--light-white);
}

.navbar__menu a {
  color: var(--grey);
  font-weight: var(--font-weight-bold);
}

.navbar__menu li::after {
  content: '';
  display: inline-block;
  margin: 0 8px;
  border: 2px solid var(--grey);
  background-color: var(--grey);
  border-radius: 2px;
  position: relative;
  top: -3px;
}

.navbar__menu li:last-child:after {
  border: none;
  margin: 0;
}

.navbar__logo {
  width: 120px;
  height: 50px;
}

.navbar__right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__items a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-10);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

.navbar__items {
  display: flex;
  align-items: center;
}

.navbar__items::after {
  content: '';
  height: 20px;
  margin: 0 10px;
  border-right: 1px solid var(--light-white);
}

.navbar__items:last-child::after {
  margin-right: 0;
}

.navbar__items img {
  margin-bottom: 5px;
}

/* Banner */
.flip {
  transform: rotateY(180deg);
}

.banner {
  position: relative;
}

.image-wrapper {
  display: flex;
  overflow: hidden;
}

.banner__btn {
  position: absolute;
  background-color: transparent;
  border: 0;
  outline: none;
  top: 50%;
}

.banner__prev {
  left: 10px;
}

.banner__next {
  right: 10px;
}

.banner__current {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 20px;
  background-color: rgba(20, 20, 20, 0.5);
  padding: 4px 12px;
  color: var(--white);
  font-size: var(--font-14);
  letter-spacing: 1px;
}
