:root {
  /* COLOR */
  --white: #ffffff;
  --light-white: #dddddd;
  --red: #ff3737;
  --black: #333333;
  --dark-grey: #73675c;
  --grey: #888888;
  --light-grey: #bbbbbb;

  /* WEIGHT */
  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-weight-normal: 300;

  /* FONT-SIZE */
  --font-large: 24px;
  --font-medium-large: 16px;
  --font-medium: 15px;
  --font-small: 12px;

  /* SIZE */
  --page-size: 1080px;

  /* space */
  --base-space: 8px;
}

/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */
* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  margin: 0 var(--base-space) 0 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-regular);
  color: var(--grey);
  margin: calc(var(--base-space) / 2) 0 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  width: var(--page-size);
  margin: auto;
}

/* MENU */
#menu {
  font-size: var(--font-small);
  padding: calc(var(--base-space) * 2) 0;
  border-bottom: 1px solid var(--light-white);
}

#menu li::after {
  content: '';
  display: inline-block;
  height: 8px;
}

#menu li:not(:last-child)::after {
  border-right: 1px solid var(--light-grey);
  margin: 0 8px;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-grey);
}

.menu__left a {
  color: var(--light-grey);
}

#menu li.active a {
  color: var(--black);
}

.menu__right a {
  font-weight: var(--font-weight-regular);
  color: var(--grey);
}
